
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background:#222;
    color:#eee;
    font-family: 'Montserrat';
    padding:0;
    margin:0;
    overflow-x:hidden;
}

#mainNav {
    padding: 0;
    width: 100vw;
    background: #181818;
}

.navButton{
    margin:0;
    font-size:2vh;
    padding:16px;
    width:33.33vw;
    display:inline-block;
    text-align:center;
    transition:background 0.2s;
    cursor:pointer;
}
.navButton:hover{
    background:#222;
}

#navIndicator {
    height: 4px;
    margin-top:-4px;
    background: #e74c3c;
    position: absolute;
    left: 0;
    transition:left 0.2s, width 0.2s;
}

@media(min-width:720px) {
    .navButton {
        width: auto;
    }
}

.pane{
    position:absolute;
    left:-100vw;
    width:100vw;
    padding:32px;
    transition:left 1s, opacity 0.4s;
    opacity:0;
}
.paneIsVisible{
    left:0vw;
    opacity:1;
}

#contactDetails{
    background:#282828;
    padding:16px;
    border-radius:0 0 16px 16px;
}
#contactDetails h4{
    margin:4px;
}

#portraitHolder {
    padding: 0;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

#gradesModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 64px;
    left: 0;
    top: -200vh;
    transition: top 1.2s;
    background: #1970a9;
}
.modalCloseButton {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    opacity:1;
    transition:opacity 0.1s;
}
.modalCloseButton:hover {
    opacity: 0.5;
}

#gradesTable{
    width:80vw;
    position:absolute;
    height:80vh;
    left:10vw;
    bottom:10vh;
}
.cell {
    width: 50%;
    position: absolute;
    border: 2px solid #eee;
    padding: 8px;
    text-align: center;
    height: 10%;
    font-size: 3vmin;
    line-height: 5.5vh;
}
.col0{
    left:0;
}
.col1{
    left:50%;
    border-left:none;
}