body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#jumbotron {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-family: 'Lexend Deca' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#cost {
    height: 24px;
    width: 500px;
    position: absolute;
    left: calc(50vw - 250px);
    top: calc(50vh - 24px);
}

#confirm {
    color: #eee;
    width: 216px;
    position: absolute;
    left: calc(50vw - 108px);
    top: calc(50vh + 12px);
    vertical-align: middle;
    border-radius: 32px;
    padding: 8px;
    text-decoration: none;
}

#confirm:hover{
    opacity: 0.8;
}

p {
    margin: 0;
}
